<h1 class="text-center mt-4">Alpha Bloggers</h1>
<% @users.each do |u| %>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    <%= link_to u.username, user_path(u) %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= link_to gravatar_for(u, size: 150), user_path(u) %>
                    </h5>
                    <p class="card-text"><%= pluralize(u.articles.count, "article") %></p>
                    <%= link_to "View profile", user_path(u), class: "btn btn-outline-success" %>
                    <% if logged_in? %>
                    <% if u == current_user %>
                    <%= link_to "Edit profile", edit_user_path(u), class: "btn btn-outline-info" %>
                    <% end %>
                    <% if current_user.admin? %>
                    <%= link_to "Delete user", user_path(u), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure you want to delete the user and all related articles?" }%>
                    <% end %>
                    <% end %>

                </div>
                <div class="card-footer text-muted">
                    <small>Joined <%= time_ago_in_words(u.created_at) %> ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>